---
layout: index
title: Home
permalink: /
---


<div id="service">
    <div class="container">

        <div class="col-md-12">
            <div class="pull-left"><img src="{{ "/assets/img/logos/2022_hack_logoV03.png" | prepend: site.baseurl }}" width="320px"/></div>
            
                <h2>Overview</h2>
                <p>
                The FacultyHack@Gateway2022 will involve five(5) teams of two(2) Computer Science faculty or one(1) Computer Science and one(1) 
                related discipline area faculty are encouraged to submit applications. Faculty will adapt High-Performance Computing (HPC) tools 
                for use in their courses. They will leave with "ready-to-go" course outlines, supporting data, and identified resources. Each team 
                will be assigned a technical mentor to help with this process. Teams completing all three(3) challenges receive a $500(USD) honorarium.
                    <br>
                Check-ins take place the first 20 minutes of each training session to access team progress and provide suggestions for success. During 
                the check-ins, teams will have 2-3 minutes to give their updates.
                </p>
                
                <h4>Faculty hack results are expected to result in the following outcomes.</h4>
                <p style="padding-left: 20px;">
                    
                    &nbsp;&nbsp; 1.  A completely revised course description with implementation schedule.
                    <br>
                    &nbsp;&nbsp; 2.  Assignment of a Gateways community mentor to provide use cases, resources and next step suggestions.
                    <br>
                    &nbsp;&nbsp; 3.  Robust access to HPC resources for research and instruction.
                    <br>
                    &nbsp;&nbsp; 4.  Opportunities to collaborate with other HPC educators and technical personnel.
                    <br>
                    &nbsp;&nbsp; 5.  Understanding of how to collaborate with an educator at their institution on HPC course revisions.
                    <br>
                    
                </p>
     
                     <h4>Challenges include:</h4>
                     <p style="padding-left: 20px;">
                        &nbsp;&nbsp; 1) Attending all HPC training sessions
                        <br>
                        &nbsp;&nbsp; 2) <a href="https://sciencegateways.org/gateways2022-attend" target="_blank">Gateways 2022</a> conference attendance
                        <br>
                        &nbsp;&nbsp; 3) Poster presentation of revised courses
                        <br>
                     </p>

            
        
                

           
         </div>
    
        <!--
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="sr-only">An image of a love-heart</span>
                <h4>Handsomely Crafted</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">An image of a laboratory flask</span>
                <h4>Retina Ready</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Quality Theme</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
                -->
            </div>
        </div>
    </div><!--/container -->
    
</div><!--/service -->

{% include portfolio.html title="FACULTY TEAMS" %}


<!--
<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href= "http://hackhpc.org" class="btn btn-theme" >More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><!--/row -->

</div><!-- /container -->
