<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                 
                <img src="{{ "/assets/img/logos/2022_hack_logoV03.png" | prepend: site.baseurl }}" width="320px" style="float: left;"/>
               
            
                <p style="vertical-align: middle;">
                    <br>
                    <h1>Faculty Hackathon at Gateways22</h1>
                    <h4>Training Sessions: <br> September 15th - October 13th, 2022 
                        <br> <br>
                        Poster Session: <br> October 18th, 2022 </h4>
                    
                   </p>
            </div>
            
                
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--
                <img src="{{ "/assets/img/logos/2022_hack_logoV03.jpg" | prepend: site.baseurl }}" class="img-responsive">
                -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->