<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Registration now open!</h3>
                <h1>FacultyHack@Gateways22</h1>
                <h4><u>[Virtual Thursday Training Sessions]</u> September 15th - October 13th <br> <u>[In-Person Sessions in San Diego,CA]</u> October 18th-20th </h4>
                <h5>This site serves as the primary information source for the Faculty Hackathon to be held at the Gateways22 Conference. </h5>	
                
                
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--
                <img src="{{ "/assets/img/logos/2022_hack_logoV03.jpg" | prepend: site.baseurl }}" class="img-responsive">
                -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->